<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact</th>
        <th scope="col">Resume</th>
      </tr>
    </thead>
    <tbody>
      <%allApplicants.forEach((applicant)=> {%>
      <tr>
        <th scope="row"><%=applicant.applicat_id%></th>
        <td><%=applicant.name%></td>
        <td><%=applicant.email%></td>
        <td><%=applicant.contact%></td>
        <td>
          <a
            class="btn btn-sm btn-primary"
            href="http://localhost:3200/uploads/<%=applicant.resumePath%>"
            target="_blank"
            >view</a
          >
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>
</div>
